.post {
  --cubic-line   : cubic-bezier(0, 0, 0.13, 1.82);
  /* --cubic-line: cubic-bezier(0, 1, 0.95, 1.05); */
  --base-duration: 300ms;
  --base-delay   : calc(0.5 * var(--base-duration));

  &:hover,
  .active {
    @apply shadow-2xl touch-pinch-zoom;
  }

  transition: height calc(1 * var(--base-duration)) var(--cubic-line) 0s,
  max-height calc(1 * var(--base-duration)) var(--cubic-line) 0s,
  width var(--base-duration) var(--cubic-line) calc(1 * var(--base-delay)),
  transform calc(1 * var(--base-duration)) var(--cubic-line) calc(1 * var(--base-delay)),
  border-radius var(--base-duration) var(--cubic-line) 0s;
  @apply flex m-auto w-5/6 max-w-screen-lg my-8 shadow-md left-0 right-0 overflow-hidden;

  &-content,
  &-description,
  &-meta,
  &-tags {
    word-break: break-all;
  }

  &-content {
    transform: height calc(1 * var(--base-duration)) var(--cubic-line) 0;
    overflow : hidden;
    display  : none;
  }

  &-text {
    transform: height var(--base-duration) 300ms var(--cubic-line) var(--base-delay);
  }

  &-cover {
    img {
      transition: border-radius var(--base-duration) var(--cubic-line) var(--base-delay);
    }
  }

  &.preview {
    @apply fixed overflow-auto w-screen max-h-screen min-h-screen z-10 my-0 flex flex-col;
    transform: translateY(var(--offset-top));

    &,
    .post-cover,
    .post-cover img {
      border-radius: unset;
    }

    .post-text {
      min-height: calc(100vh - 12rem);
    }

    .post-cover img {
      @apply rounded-none;
    }

    .post-content {
      display: block;
    }
  }
}

.dark .post .md-editor-dark {
  --md-bk-color: theme(colors.slate.800);
}